/*.contentOne {
	height: 1000px;
	width: 100%;
}*/
body {
	font-family: 'Montserrat', sans-serif;
}

.contentOne {
	height: 100vh;
	background-image: url('./photos/macWallpaper.jpg');
	background-position: center;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	margin-bottom: 0px;
}
.logo {
	width: 10%;
	border-radius: 6px;
	/*border: 1px solid green;*/
}
.headImg {
	width: 15%;
	height: 100%;
}

.contentTwo{
	height: 600px;
	margin-bottom: 0px;
	background-color: #fff;
}

.contentThree{
	height: 1050px;
	margin-bottom: 0px;
	background-color: #eee;
}
.contentFour {
	height: 50vh;
	background-color: #fff;
}
.contentFive {
	 /*height: 50vh;*/
	width: 100%;
	background-color: #fff;
	/*margin-bottom: 0px;*/

}
.contentFiveA{
	background-color: #339999;
	height: 20vh;
	width: 100%;
}
.contentFiveB{
	background-color: #006633;
	height: 20vh;
	width: 100%;
}

/*.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}*/
.skillContent {
	text-align: center;
}

.siteDisplay {
	width: 120%;
}
/*
.projectDisplay {
	border-bottom: 1px solid #006633;
}*/





