/*.contentOne {
	height: 1000px;
	width: 100%;
}*/

.contentOne {
	height: 100vh;
	background-image: url('./photos/macWallpaper.jpg');
	background-position: center;
	background-size: cover;
	color: #ffffff;
	text-align: center;
}
.logo {
	width: 10%;
	border-radius: 6px;
	/*border: 1px solid green;*/
}
.headImg {
	width: 15%;
	height: 100%;
}